# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Android
android/.gradle
android/.idea
android/local.properties
android/**/GeneratedPluginRegistrant.java

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/flutter_modules/
ios/ServiceDefinitions.json
ios/Runner.xcworkspace
ios/Pods/
ios/.symlinks/
ios/.generated/

# macOS
macos/Flutter/Flutter-Release.xcconfig
macos/Flutter/Flutter-Debug.xcconfig
macos/Flutter/GeneratedPluginRegistrant.swift

# Windows
windows/flutter/generated_plugins.cmake
windows/flutter/generated_plugins.lock.json

# Web
web/main.dart.js
web/main.dart.js.map

# Misc
*.swp
*.swo
.DS_Store
.env
.vscode/
.idea/
*.iml

# Coverage
coverage/

# Exceptions
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
